BACKEND_API_URL=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

NEXT_PUBLIC_BACKEND_API_URL=

DEMO_CUSTOMER_EMAIL=
DEMO_CUSTOMER_PASSWORD=

DEMO_PROVIDER_EMAIL=
DEMO_PROVIDER_PASSWORD=

DEMO_ADMIN_EMAIL=
DEMO_ADMIN_PASSWORD=